# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List Development environment open source tools for Data Science.
* List Arithmetic expression examples.
* Create a code cell to convert minutes to hours.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib

| Data Science Tools                                                                                                                                                                                      |
| --------------                                                                                                                                                                                                 |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python
 
x = 40  
y = 12  
  
add = x + y  
sub = x - y  
pro = x * y  
div = x / y

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60.
a= 200/60
print(a,"Hours")

3.3333333333333335 Hours

## Author
Dr. Swati Tyagi